/* play/pause button */
.togglePlayButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
    background-color: transparent;
    position: absolute;
    bottom: 2em;
    left: 6em;
}

.togglePlayButton svg {
    max-width: 4em;
    max-height: 4em;
    fill: none;
}
.togglePlayButton svg path {
    fill: var(--highlight-color);
}

.togglePlayButton #svgPause,
.togglePlayButton.playing #svgPlay {
    display: none;
}
.togglePlayButton.playing #svgPause {
    display: block;
}

/* music board */
table {
    --table-gap: 0.4em;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 70vw;
    width: 100%;
    max-width: 1200px;
    gap: var(--table-gap);
}

table::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--highlight-color);
    animation: moveLine calc(var(--columns, 16) * var(--delay, 0.25s)) infinite
        linear paused;
}

table.playing::after {
    animation-play-state: running;
}

tr {
    display: flex;
    gap: var(--table-gap);
    width: 100%;
}

td {
    display: flex;
    width: 100%;
}

table button {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--button-color-1);
    border-radius: 4px;
    transition: background-color 0.04s step-end;
}

table button:active {
    transform: scale(0.985);
}

td:nth-of-type(4n + 1) button {
    background-color: var(--button-color-2);
}

table button.active {
    background-color: var(--active-row-color);
}

@keyframes moveLine {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
