table {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    margin: 0 auto;
    min-width: 70vw;
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
}
tr {
    display: flex;
    gap: 0.4em;
    width: 100%;
}
td {
    display: flex;
    width: 100%;
}

table button {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--button-color-1);
    border-radius: 4px;
    transition: background-color 0.04s step-end;
}
table button:active {
    transform: scale(0.984);
}
td:nth-of-type(4n + 1) button {
    background-color: var(--button-color-2);
}

[data-row='1'] button.active {
    background-color: var(--active-color-1);
}
[data-row='2'] button.active {
    background-color: var(--active-color-2);
}
[data-row='3'] button.active {
    background-color: var(--active-color-3);
}

button.highlight {
    background-color: var(--highlight-color) !important;
}
