@import url(./board.css);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #131313;
    --button-color-1: #3f3f3f;
    --button-color-2: #525252;
    --highlight-color: #fff;
}

body {
    background-color: var(--bg-color);
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    position: absolute;
    top: 1em;
    width: 60%;
    margin: 0 auto;
    right: 2em;
}


video {
	display: none;
}

main {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

main section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}
