*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

button.highlight {
	background-color: #ff6b08;
	color: #fff;
}